{
  "ProcessName": "Starfield",
  "SaveDirectory": "D:\\Users\\jbb\\Documents\\My Games\\Starfield\\Saves",
  "QuicksaveSave": true,
  "QuicksaveSaveInterval": 120,
  "QuicksaveCopy": true









}
